* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
}

.App {
    /* Keeps the big picture from exceeding
     * the length of the browser window
     */
    height: 100vh; 

    /* Causes the big picture
     * to resize upon shrinking the window,
     * ratherthan flipping down
     * to below the navigation bar
     */
    display: flex;
    flex-direction: row;
}
