.Detail {
  width: 100%;   /* This keeps from crowding out the Nav bar */
}

.Detail h1 {
  font-size: 16px;
  overflow: scroll;   /* Let's the nav bar scroll independently of the big image */
  max-height: 10%;    /* This size is what we "overflow: scroll" within */
  text-align: center; /* Keep the text nicely over the centered image */
}

.Detail img {
  max-width: 100%;    /* Keeps us from squishing the Nav bar down to a smaller than planned size */
  max-height: 90%;    /* Leave room for page header and footer */
  display: block;     /* Necessary to center the image using margin-left and -right */
  margin-left: auto;  /* Center the image for good looks */
  margin-right: auto; /* Center the image for good looks */
}

.Detail p {
  font-size: 11px;
  text-align: center; /* Keep the text nicely over the centered image */
}

/* This just barely doesn't apply to my phone in portrait */

@media screen and (min-width: 415px) {

  .Detail img {
    display:block;      /* So we can center it with margin-left & right */
    margin-left: auto;  /* Center the image for good looks */
    margin-right: auto; /* Center the image for good looks */
  }
  .Detail h1 {
    font-size: 18px;    /* A little bigger for the bigger screen */
    text-align: center; /* Keep the text nicely over the centered image */
  }
  .Detail p {
    font-size: 9px;
    text-align: center; /* Keep the text nicely over the centered image */
  }
}
