.Detail {
  width: 70%;
  height: 100%;
}

.Detail h1 {
/*  max-height: 5%; */
  font-size: 16px;
}

.BigImage {
  max-width: 100%;
  max-height: 95%;
}

/* One important breakpoint is 400px
 * That's where 30% == 120px
 */
 
/* This just barely doesn't apply to my iPhone 8 when vertical */
@media screen and (min-width: 415px) {
/*  .Detail::before {
    content: "415 min-width";
  } */

  .Detail {
    width: 100vw; /* I wonder why this seems to be 100% of area to right of Nav, not 100% of screen. ??? */
    text-align: center;
  }
  .BigImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 92%;
  }
  .Detail h1 {
    /* max-height: 8%; */
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
  }
}
