.Nav {
  width: 120px;     /* Keeps the nav bar in a nice single column of images */
  overflow: scroll; /* Let's the nav bar scroll independently of the big image */
  padding: 0.4em;   /* Provides some space between the nav bar and the big image */
}

.NavImage {
  float: left;      /* Hm... I'm not sure why "none" creates poor results. */
  max-width: 100%;  /* Keeps the images scaled down, rather than overflowing, the nav bar */
}
